$scale_rotateDeg: 12deg;
$scale_translateY: 50%;
$scale-animation-time: 2s;
$scale-transition-function: cubic-bezier(0.15, 0.72, 0.185, 1.5);

body
{
    margin: 0;
    font-size: min(1vw,12pt);
    background-color: #320e38;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    height: 100vh;
}

.game
{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 1200px;
    background-color: white;
    border: solid white 20px;
    border-radius: 3vw;
    padding-bottom: 15%;
    grid-row: 2;
    grid-column: 2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .cover
    {
        display: none;
        position: absolute;
        border-radius: 3vw;
        padding: 20px;
        top: -20px;
        left: -20px;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.7);
        z-index:10;
        
        &.visible
        {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        img
        {
            margin: 0 auto;
            width: 35%;
        }

        h2
        {
            margin: 0 auto;
            font-size: max(24pt,6em);
            color: #dbb8e0;
            text-shadow: #8a388e 5px 2px black 5px -2px;
        }

        button
        {
            font-size: max(24pt,5em);
            width: 50%;
            min-width: 11ch;
            margin: 0 auto;
            border-radius: 0.5ch;
            background-color: #99e2a7;
            border: black 0.1ch solid;
            font-weight: bold;
            cursor: pointer;

            &:hover
            {
                border-width: 0.12ch;
            }

            &:active
            {
                border-width: 0.15ch;
            }
        }
    }

    &.rotate-left
    {
        .bar
        {
            transform: rotate($scale_rotateDeg * -1);
        }

        #left-choice
        {
            transform: translateY($scale_translateY);
        }

        #right-choice
        {
            transform: translateY($scale_translateY * -1);
        }
    }

    &.rotate-right
    {
        .bar
        {
            transform: rotate($scale_rotateDeg);
        }

        #left-choice
        {
            transform: translateY($scale_translateY * -1);
        }

        #right-choice
        {
            transform: translateY($scale_translateY);
        }
    }
}

.prompt
{
    text-align: center;
    font-size: max(24pt,5em);
    margin-bottom: 5ch;
}

.wrapper
{
    width: 100%;
    position: relative;

    .choices
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
    }

    .choice
    {
        width: 40%;
        display: flex;
        flex-direction: column;
        transition: $scale-transition-function transform $scale-animation-time;
        z-index: 2;
        pointer-events: all;
        cursor: pointer;

        .math
        {
            font-size: max(5em, 18pt);
            text-align: center;
            margin-bottom: min(2em, 0.5ch);
        }

        .cup
        {
            width: 100%;
        }
    }

    .scale
    {
        position: absolute;
        top: 65%;
        z-index: 1;
        width: 100%;
        text-align: center;

        .bar
        {
            width: 70%;
            aspect-ratio: 36;
            background-color: #af8650;
            margin: 0 auto;
            transition: $scale-transition-function transform $scale-animation-time;
        }
        
    }
}
